/*
GENERAL
*/
header {
    position: relative;
    margin: 0;
    padding: 0;
}

.banner {
    position: absolute;
    height: 50vh;
}

.menu {
    background-color: transparent;
    max-width: 100%;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}
/*-----------------------------------------------
*    header
-----------------------------------------------*/
#header {
    margin: 10px auto 0;
    max-width: 100%;
}

.logo {
    display: block;
    width: 150px;
    background: url(../img/mega.png) center center no-repeat;
    background-size: contain;
}

#header a {
    color: #fff;
}

#header li:first-child a {
    position: relative;
    top: 8px;
    border: 2px solid #fff;
    padding: 5px 10px;
}

#header li a {
    margin: 0 8px;
}

.welcome {
    position: absolute;
    top: 15vh;
    right: 0;
    left: 0;
    text-align: center;
    color: #fff;
}

.logob {
    background: url(../img/logobb.png) no-repeat;
    width: 300px;
    height: 70px;
    background-size: cover;
    margin: 20px auto;
}

.welcome button {
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
    border-radius: 2px;
    padding: 2px 25px;
    margin-top: 10px;
}

.welcome button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.search {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 105px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.search-bar {
    text-align: center;
    margin: 25px auto;
    border-radius: 2px;
    background-color: #fff;
    width: 825px;
}

.search-bar div {
    background-color: #fff;
    display: inline-block;
    height: 24px;
}

.search-bar h5 {
    color: #484848;
}

.where input {
    width: 370px;
    height: 35px;
    border: none;
    padding: 0 10px;
}

.checkin,
.checkout {
    width: 115px;
    text-align: left;
}

.from {
    width: 24px;
    background: url(../img/right.svg) no-repeat;
    text-align: left;
}

.cus {
    width: 123px;
}

.btn {
    background-color: #ff5a5f;
    height: 40px;
    margin: 0 auto;
}

.btn h5 {
    color: #fff;
    margin: 0 auto;
}
/*-----------------------------------------------
*    main
-----------------------------------------------*/
main h2 {
    margin-top: 50px;
}

main button {
    width: 350px;
    margin: 50px 10px 0 !important;
    background-color: #fff;
    border: 1px solid #aaa;
}

main button h5 {
    font-weight: bold;
}

.content {
    text-align: center;
}

.square {
    width: 350px;
}

.rectangle {
    width: 722px;
}

.square,
.rectangle {
    position: relative;
    height: 350px;
    display: inline-block;
    margin: 10px;
}

.img-title {
    color: #fff;
    width: auto;
    position: absolute;
    top: 155px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    text-shadow: 2px 2px 1px #555;
}

.homepage {
    height: 600px;
    margin-top: 70px;
    max-width: 100%;
}

.homepage1,
.homepage2,
.homepage3,
.homepage4 {
    background-size: contain;
    width: 2000px;
    height: 600px;
}

.homepage1 {
    background: url(../img/homepage1.jpg) center center no-repeat;
}

.homepage2 {
    background: url(../img/homepage2.jpg) center center no-repeat;
}

.homepage3 {
    background: url(../img/homepage3.jpg) center center no-repeat;
}

.homepage4 {
    background: url(../img/homepage4.jpg) center center no-repeat;
}
/*-----------------------------------------------
*    footer
-----------------------------------------------*/

footer {
    background-color: #222222;
    margin-top: 50px;
}

.footer_content {
    margin: 25px;
}

.footer_content2 {
    margin-bottom: 50px;
}

#footer h4,
#footer h5 {
    color: #fff;
}